footer.footer
  .footer__logo
    img(src='/img/logo-green.png', alt='Natour logo')

  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Become a guide
    li: a(href='#') Contact
    li: a.footer__social-link(href='https://github.com/dxtaner', target='_blank')
      | GitHub
    li: a.footer__social-link(href='https://www.linkedin.com/in/tanerozer16/', target='_blank')
      | LinkedIn

  p.footer__copyright 
    | &copy; by dxtaner 2024. 